In [ ]:
import pandas as pd
import os

In [ ]:
# Đọc file dữ liệu
df_original = pd.read_csv("ESG_Series_original.csv")

In [ ]:
# Kiểm tra 5 dòng đầu tiên của dataset
df_original.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,24.8,26.1,27.4,28.6,29.7,30.9,31.9,33.2,..,..
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,..,..
2,Afghanistan,AFG,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,..,..,..,..,..,..,...,0.289482199333597,0.288231474992077,0.29524233685244,0.355951223042959,0.344837070896956,0.39792079319002,0.362219986033825,0.381654455836315,..,..
3,Afghanistan,AFG,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,..,..,..,..,..,..,...,0.21375018912259,0.2171304067401,0.243271589310412,0.283256582292882,0.231572240634185,0.242979198429009,0.268508213514606,0.308254138050895,..,..
4,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,..,57.8016957208347,57.8936878095151,57.9703478834154,58.0669395765298,58.0700059794858,...,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.2769881790166,58.2769881790166,58.8074758904068,..,..

In [ ]:
# Xóa các kí tự thừa [YR....] ở các cột năm
df_original.columns = df_original.columns.str.replace(r'\s\[YR\d+\]', '', regex=True)

In [ ]:
df_original

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,24.8,26.1,27.4,28.6,29.7,30.9,31.9,33.2,..,..
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,..,..
2,Afghanistan,AFG,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,..,..,..,..,..,..,...,0.289482199333597,0.288231474992077,0.29524233685244,0.355951223042959,0.344837070896956,0.39792079319002,0.362219986033825,0.381654455836315,..,..
3,Afghanistan,AFG,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,..,..,..,..,..,..,...,0.21375018912259,0.2171304067401,0.243271589310412,0.283256582292882,0.231572240634185,0.242979198429009,0.268508213514606,0.308254138050895,..,..
4,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,..,57.8016957208347,57.8936878095151,57.9703478834154,58.0669395765298,58.0700059794858,...,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.2769881790166,58.2769881790166,58.8074758904068,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13635,Data from database: Environment Social and Gov...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13636,Last Updated: 02/09/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Xóa cột không cân thiết: Country Code và Series Code
df_original = df_original.drop(['Country Code', 'Series Code'], axis=1)

In [ ]:
df_original

,Country Name,Series Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,Access to clean fuels and technologies for coo...,..,..,..,..,..,..,..,..,...,24.8,26.1,27.4,28.6,29.7,30.9,31.9,33.2,..,..
1,Afghanistan,Access to electricity (% of population),..,..,..,..,..,..,..,..,...,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,..,..
2,Afghanistan,Adjusted savings: natural resources depletion ...,..,..,..,..,..,..,..,..,...,0.289482199333597,0.288231474992077,0.29524233685244,0.355951223042959,0.344837070896956,0.39792079319002,0.362219986033825,0.381654455836315,..,..
3,Afghanistan,Adjusted savings: net forest depletion (% of GNI),..,..,..,..,..,..,..,..,...,0.21375018912259,0.2171304067401,0.243271589310412,0.283256582292882,0.231572240634185,0.242979198429009,0.268508213514606,0.308254138050895,..,..
4,Afghanistan,Agricultural land (% of land area),..,57.8016957208347,57.8936878095151,57.9703478834154,58.0669395765298,58.0700059794858,58.12826763565,58.2294589331984,...,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.2769881790166,58.2769881790166,58.8074758904068,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13635,Data from database: Environment Social and Gov...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13636,Last Updated: 02/09/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Nhận thấy một số dòng cuối bị thừa nên kiểm tra thử 10 dòng cuối
df_original.tail(10)

,Country Name,Series Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
13627,Zimbabwe,Terrestrial and marine protected areas (% of t...,..,..,..,..,..,..,..,..,...,..,..,..,27.2145424089062,27.2145851759137,27.2145851759137,27.2147472925701,27.2147472925701,27.2147472925701,27.2147472925701
13628,Zimbabwe,Tree Cover Loss (hectares),..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
13629,Zimbabwe,"Unemployment, total (% of total labor force) (...",..,..,..,..,..,..,..,..,...,4.98199987411499,4.76999998092651,4.77799987792969,4.78800010681152,4.78499984741211,4.7960000038147,4.83300018310547,5.35099983215332,5.17399978637695,5.0019998550415
13630,Zimbabwe,Unmet need for contraception (% of married wom...,..,..,..,..,..,..,..,..,...,..,10.38212858,10.4,..,..,..,..,..,..,..
13631,Zimbabwe,Voice and Accountability: Estimate,..,..,..,..,..,..,..,..,...,-1.38621962070465,-1.25688946247101,-1.16608715057373,-1.17845976352692,-1.19590401649475,-1.14097511768341,-1.16470468044281,-1.11371552944183,-1.13693416118622,..
13632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13635,Data from database: Environment Social and Gov...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13636,Last Updated: 02/09/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Loại bỏ 5 dòng thừa cuối (dòng 13632 - 13636)
df_original = df_original.iloc[:-5]
df_original

# Thay giá trị '..' thành null
df_original.replace("..", pd.NA, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15640\607567362.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_original.replace("..", pd.NA, inplace=True)

In [ ]:
df_original

,Country Name,Series Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,Access to clean fuels and technologies for coo...,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,24.8,26.1,27.4,28.6,29.7,30.9,31.9,33.2,NaN,NaN
1,Afghanistan,Access to electricity (% of population),NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,NaN,NaN
2,Afghanistan,Adjusted savings: natural resources depletion ...,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0.289482199333597,0.288231474992077,0.29524233685244,0.355951223042959,0.344837070896956,0.39792079319002,0.362219986033825,0.381654455836315,NaN,NaN
3,Afghanistan,Adjusted savings: net forest depletion (% of GNI),NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0.21375018912259,0.2171304067401,0.243271589310412,0.283256582292882,0.231572240634185,0.242979198429009,0.268508213514606,0.308254138050895,NaN,NaN
4,Afghanistan,Agricultural land (% of land area),NaN,57.8016957208347,57.8936878095151,57.9703478834154,58.0669395765298,58.0700059794858,58.12826763565,58.2294589331984,...,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.2769881790166,58.2769881790166,58.8074758904068,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13627,Zimbabwe,Terrestrial and marine protected areas (% of t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,<NA>,<NA>,<NA>,27.2145424089062,27.2145851759137,27.2145851759137,27.2147472925701,27.2147472925701,27.2147472925701,27.2147472925701
13628,Zimbabwe,Tree Cover Loss (hectares),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
13629,Zimbabwe,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.98199987411499,4.76999998092651,4.77799987792969,4.78800010681152,4.78499984741211,4.7960000038147,4.83300018310547,5.35099983215332,5.17399978637695,5.0019998550415
13630,Zimbabwe,Unmet need for contraception (% of married wom...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,<NA>,10.38212858,10.4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
13631,Zimbabwe,Voice and Accountability: Estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.38621962070465,-1.25688946247101,-1.16608715057373,-1.17845976352692,-1.19590401649475,-1.14097511768341,-1.16470468044281,-1.11371552944183,-1.13693416118622,<NA>

In [ ]:
# Chỉ lấy dữ liệu từ 2016 - 2020
cols_to_keep =  ['Country Name',  'Series Name'] + [str(year) for year in range(2016, 2021)]
df_series = df_original[cols_to_keep]
df_series

,Country Name,Series Name,2016,2017,2018,2019,2020
0,Afghanistan,Access to clean fuels and technologies for coo...,28.6,29.7,30.9,31.9,33.2
1,Afghanistan,Access to electricity (% of population),97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422
2,Afghanistan,Adjusted savings: natural resources depletion ...,0.355951223042959,0.344837070896956,0.39792079319002,0.362219986033825,0.381654455836315
3,Afghanistan,Adjusted savings: net forest depletion (% of GNI),0.283256582292882,0.231572240634185,0.242979198429009,0.268508213514606,0.308254138050895
4,Afghanistan,Agricultural land (% of land area),58.123668031216,58.123668031216,58.2769881790166,58.2769881790166,58.8074758904068
...,...,...,...,...,...,...,...
13627,Zimbabwe,Terrestrial and marine protected areas (% of t...,27.2145424089062,27.2145851759137,27.2145851759137,27.2147472925701,27.2147472925701
13628,Zimbabwe,Tree Cover Loss (hectares),<NA>,<NA>,<NA>,<NA>,<NA>
13629,Zimbabwe,"Unemployment, total (% of total labor force) (...",4.78800010681152,4.78499984741211,4.7960000038147,4.83300018310547,5.35099983215332
13630,Zimbabwe,Unmet need for contraception (% of married wom...,<NA>,<NA>,<NA>,<NA>,<NA>
13631,Zimbabwe,Voice and Accountability: Estimate,-1.17845976352692,-1.19590401649475,-1.14097511768341,-1.16470468044281,-1.11371552944183

In [ ]:
# Transpose cột Series Name với cột các năm 
df_melted = df_series.melt(id_vars=['Country Name',  'Series Name'], var_name='Year', value_name='Value')
pivoted_df = df_melted.pivot(index=['Country Name',  'Year'], columns='Series Name', values='Value')
pivoted_df = pivoted_df.reset_index().rename_axis(None, axis=1)
pivoted_df

,Country Name,Year,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),Adjusted savings: natural resources depletion (% of GNI),Adjusted savings: net forest depletion (% of GNI),Agricultural land (% of land area),"Agriculture, forestry, and fishing, value added (% of GDP)","Annual freshwater withdrawals, total (% of internal resources)","Annualized average growth rate in per capita real survey mean consumption or income, total population (%)",...,"School enrollment, primary (% gross)","School enrollment, primary and secondary (gross), gender parity index (GPI)",Scientific and technical journal articles,Standardised Precipitation-Evapotranspiration Index,Strength of legal rights index (0=weak to 12=strong),Terrestrial and marine protected areas (% of total territorial area),Tree Cover Loss (hectares),"Unemployment, total (% of total labor force) (modeled ILO estimate)",Unmet need for contraception (% of married women ages 15-49),Voice and Accountability: Estimate
0,Afghanistan,2016,28.6,97.6999969482422,0.355951223042959,0.283256582292882,58.123668031216,25.7403140364582,43.0159066808059,<NA>,...,102.486473083496,0.645669996738434,81.64,<NA>,9,0.104707040342723,0,11.1579999923706,24.4653465007926,-1.03778803348541
1,Afghanistan,2017,29.7,97.6999969482422,0.344837070896956,0.231572240634185,58.123668031216,26.4201990834448,43.0159066808059,<NA>,...,102.175788879395,0.641690015792847,91.89,<NA>,9,0.104707034792812,0,11.1800003051758,<NA>,-0.990813970565796
2,Afghanistan,2018,30.9,96.6161346435547,0.39792079319002,0.242979198429009,58.2769881790166,22.0428967527575,43.0159066808059,<NA>,...,103.996162414551,0.636020004749298,111.72,<NA>,10,0.104707034792812,26,11.1520004272461,<NA>,-1.01160001754761
3,Afghanistan,2019,31.9,97.6999969482422,0.362219986033825,0.268508213514606,58.2769881790166,25.7739707394105,43.0159066808059,<NA>,...,106.701080322266,<NA>,<NA>,<NA>,10,0.104707034772672,17,11.2170000076294,<NA>,-1.00674676895142
4,Afghanistan,2020,33.2,97.6999969482422,0.381654455836315,0.308254138050895,58.8074758904068,26.8206001075115,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,3.6372565953286,37,11.710000038147,<NA>,-1.07773637771606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,Zimbabwe,2016,29.8,42.5617294311523,4.17005390418124,3.40296949081235,41.8766963939511,7.87398583251054,27.7487765089723,<NA>,...,101.309677124023,<NA>,313.8,<NA>,5,27.2145424089062,<NA>,4.78800010681152,<NA>,-1.17845976352692
956,Zimbabwe,2017,29.8,44.1786346435547,5.30496285598318,3.80316638856518,41.8766963939511,8.34096887182905,27.2349102773246,-3.5,...,98.9331893920898,<NA>,340.45,<NA>,5,27.2145851759137,<NA>,4.78499984741211,<NA>,-1.19590401649475
957,Zimbabwe,2018,29.9,45.5726470947266,4.99501753114708,2.26835155523663,41.8766963939511,7.31937514619024,30.7616639477977,<NA>,...,97.7508087158203,<NA>,359.33,<NA>,5,27.2145851759137,<NA>,4.7960000038147,<NA>,-1.14097511768341
958,Zimbabwe,2019,30.1,46.7814750671387,4.63139667866396,2.3118731070117,41.8766963939511,9.81926160524559,30.7616639477977,<NA>,...,97.1402130126953,<NA>,<NA>,<NA>,6,27.2147472925701,<NA>,4.83300018310547,<NA>,-1.16470468044281
959,Zimbabwe,2020,30.4,52.7476692199707,5.79293609219202,2.72346806457659,41.8766963939511,8.77285875573664,<NA>,<NA>,...,97.3049087524414,<NA>,<NA>,<NA>,<NA>,27.2147472925701,<NA>,5.35099983215332,<NA>,-1.11371552944183

In [ ]:
# Tính % null trong mỗi cột để xem những tiêu chí nào ít null nhất
null_percents = pivoted_df.isnull().mean() * 100
null_percents.sort_values(ascending=True).head(35)

Country Name                                                                          0.000000
Population density (people per sq. km of land area)                                   0.000000
Political Stability and Absence of Violence/Terrorism: Estimate                       0.000000
Net migration                                                                         0.000000
Heating Degree Days                                                                   0.000000
Heat Index 35                                                                         0.000000
Forest area (% of land area)                                                          0.000000
Cooling Degree Days                                                                   0.000000
Voice and Accountability: Estimate                                                    0.000000
Access to electricity (% of population)                                               0.000000
Year                                                                                  0.000000
Agricultural land (% of land area)                                                    0.520833
Mortality rate, under-5 (per 1,000 live births)                                       0.520833
Population ages 65 and above (% of total population)                                  0.520833
Land Surface Temperature                                                              0.833333
Proportion of seats held by women in national parliaments (%)                         1.041667
Regulatory Quality: Estimate                                                          1.041667
Rule of Law: Estimate                                                                 1.041667
Control of Corruption: Estimate                                                       1.041667
Government Effectiveness: Estimate                                                    1.041667
Terrestrial and marine protected areas (% of total territorial area)                  1.458333
Access to clean fuels and technologies for cooking (% of population)                  1.979167
GDP growth (annual %)                                                                 2.395833
Tree Cover Loss (hectares)                                                            2.604167
Food production index (2014-2016 = 100)                                               2.604167
Life expectancy at birth, total (years)                                               4.166667
Fertility rate, total (births per woman)                                              4.166667
Agriculture, forestry, and fishing, value added (% of GDP)                            4.687500
Ratio of female to male labor force participation rate (%) (modeled ILO estimate)     7.812500
Unemployment, total (% of total labor force) (modeled ILO estimate)                   7.812500
Adjusted savings: net forest depletion (% of GNI)                                     8.750000
Adjusted savings: natural resources depletion (% of GNI)                              9.062500
Individuals using the Internet (% of population)                                     13.020833
Government expenditure on education, total (% of government expenditure)             13.541667
Prevalence of undernourishment (% of population)                                     18.750000
dtype: float64

In [ ]:
# Lựa các tiêu chí cần thiết và ít dữ liệu null cho E,S,G
df = pivoted_df.loc[:, ['Country Name','Year',
                        'CO2 emissions (metric tons per capita)',
                        'Agriculture, forestry, and fishing, value added (% of GDP)', 
                        'Energy intensity level of primary energy (MJ/$2017 PPP GDP)', 
                        'Land Surface Temperature',
                        'Nitrous oxide emissions (metric tons of CO2 equivalent per capita)',
                        'Methane emissions (metric tons of CO2 equivalent per capita)',
                        'Population ages 65 and above (% of total population)', 
                        'Unemployment, total (% of total labor force) (modeled ILO estimate)',
                        'Mortality rate, under-5 (per 1,000 live births)', 
                        'Life expectancy at birth, total (years)', 'Fertility rate, total (births per woman)', 
                        'Government expenditure on education, total (% of government expenditure)',
                        'Control of Corruption: Estimate', 'Government Effectiveness: Estimate', 
                        'GDP growth (annual %)',
                        'Regulatory Quality: Estimate','Rule of Law: Estimate',
                        'Voice and Accountability: Estimate',
                        'Political Stability and Absence of Violence/Terrorism: Estimate', 
                        'School enrollment, primary and secondary (gross), gender parity index (GPI)'
                        ]
                    ]
df

,Country Name,Year,CO2 emissions (metric tons per capita),"Agriculture, forestry, and fishing, value added (% of GDP)",Energy intensity level of primary energy (MJ/$2017 PPP GDP),Land Surface Temperature,Nitrous oxide emissions (metric tons of CO2 equivalent per capita),Methane emissions (metric tons of CO2 equivalent per capita),Population ages 65 and above (% of total population),"Unemployment, total (% of total labor force) (modeled ILO estimate)",...,"Fertility rate, total (births per woman)","Government expenditure on education, total (% of government expenditure)",Control of Corruption: Estimate,Government Effectiveness: Estimate,GDP growth (annual %),Regulatory Quality: Estimate,Rule of Law: Estimate,Voice and Accountability: Estimate,Political Stability and Absence of Violence/Terrorism: Estimate,"School enrollment, primary and secondary (gross), gender parity index (GPI)"
0,Afghanistan,2016,0.15301907020982,25.7403140364582,2.24,30.6263973,0.145801184292495,0.457036185391377,2.39898955450016,11.1579999923706,...,5.262,13.0909996032715,-1.53404927253723,-1.25418150424957,2.26031420130452,-1.33658170700073,-1.51238059997559,-1.03778803348541,-2.67105388641357,0.645669996738434
1,Afghanistan,2017,0.134106112096442,26.4201990834448,2.3,29.8744306,0.147853384880204,0.43794901085741,2.39981758202619,11.1800003051758,...,5.129,12.0332002639771,-1.52172565460205,-1.35992228984833,2.64700320195786,-1.35537278652191,-1.5775955915451,-0.990813970565796,-2.80108380317688,0.641690015792847
2,Afghanistan,2018,0.165454681763912,22.0428967527575,2.44,30.1259055,0.127838951487271,0.43367115109932,2.4070929738622,11.1520004272461,...,5.002,11.6960601806641,-1.48977172374725,-1.47929918766022,1.18922812838034,-1.14759039878845,-1.6813577413559,-1.01160001754761,-2.76386427879334,0.636020004749298
3,Afghanistan,2019,0.160976451493467,25.7739707394105,2.41,27.8726262,0.132646715806318,0.433418532748698,2.41775383911968,11.2170000076294,...,4.87,11.3437700271606,-1.40771043300629,-1.49562668800354,3.911603419423,-1.12304580211639,-1.72789442539215,-1.00674676895142,-2.65553116798401,<NA>
4,Afghanistan,2020,<NA>,26.8206001075115,<NA>,28.1259446,<NA>,<NA>,2.41695301478831,11.710000038147,...,4.75,10.2538604736328,-1.48053777217865,-1.58514487743378,-2.35110067344623,-1.40276098251343,-1.81989753246307,-1.07773637771606,-2.70502972602844,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,Zimbabwe,2016,0.762487106756196,7.87398583251054,10,33.1871179,0.344572199084683,0.821299591104827,3.16741409886295,4.78800010681152,...,3.771,23.5270805358887,-1.27125763893127,-1.20988953113556,0.900955396308504,-1.68489587306976,-1.38137018680573,-1.17845976352692,-0.619937896728516,<NA>
956,Zimbabwe,2017,0.700964636645624,8.34096887182905,9.51,30.4378471,0.350482313150727,0.817566120631721,3.23311798895554,4.78499984741211,...,3.706,20.8742008209229,-1.28108060359955,-1.2386634349823,4.08026390333053,-1.56413733959198,-1.38525593280792,-1.19590401649475,-0.70876932144165,<NA>
957,Zimbabwe,2018,0.822472015651742,7.31937514619024,9.83,32.6869318,0.353437082618708,0.819814596512234,3.29335928925663,4.7960000038147,...,3.659,19.0398406982422,-1.22758066654205,-1.26177382469177,5.00986678330221,-1.50948941707611,-1.27899479866028,-1.14097511768341,-0.722773671150208,<NA>
958,Zimbabwe,2019,0.765893875563726,9.81926160524559,10.47,33.8128838,0.349080875265588,0.817344225963626,3.34578073715007,4.83300018310547,...,3.599,<NA>,-1.27328038215637,-1.26728773117065,-6.33244640703352,-1.46861338615417,-1.2920708656311,-1.16470468044281,-0.959749400615692,<NA>
959,Zimbabwe,2020,<NA>,8.77285875573664,<NA>,32.4368735,<NA>,<NA>,3.37626213602766,5.35099983215332,...,3.545,15.6666107177734,-1.28943967819214,-1.29977869987488,-7.81695064681365,-1.41623163223267,-1.30789697170258,-1.11371552944183,-1.07214713096619,<NA>

In [ ]:
# Nhận thấy datatype của các cột tiêu chí chưa chính xác
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 22 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Country Name                                                                 960 non-null    object
 1   Year                                                                         960 non-null    object
 2   CO2 emissions (metric tons per capita)                                       760 non-null    object
 3   Agriculture, forestry, and fishing, value added (% of GDP)                   915 non-null    object
 4   Energy intensity level of primary energy (MJ/$2017 PPP GDP)                  736 non-null    object
 5   Land Surface Temperature                                                     952 non-null    object
 6   Nitrous oxide emissions (metric tons of CO2 equivalent per capita)           756 non-null    object
 7   Methane emissions (metric tons of CO2 equivalent per capita)                 760 non-null    object
 8   Population ages 65 and above (% of total population)                         955 non-null    object
 9   Unemployment, total (% of total labor force) (modeled ILO estimate)          885 non-null    object
 10  Mortality rate, under-5 (per 1,000 live births)                              955 non-null    object
 11  Life expectancy at birth, total (years)                                      920 non-null    object
 12  Fertility rate, total (births per woman)                                     920 non-null    object
 13  Government expenditure on education, total (% of government expenditure)     830 non-null    object
 14  Control of Corruption: Estimate                                              950 non-null    object
 15  Government Effectiveness: Estimate                                           950 non-null    object
 16  GDP growth (annual %)                                                        937 non-null    object
 17  Regulatory Quality: Estimate                                                 950 non-null    object
 18  Rule of Law: Estimate                                                        950 non-null    object
 19  Voice and Accountability: Estimate                                           960 non-null    object
 20  Political Stability and Absence of Violence/Terrorism: Estimate              960 non-null    object
 21  School enrollment, primary and secondary (gross), gender parity index (GPI)  598 non-null    object
dtypes: object(22)
memory usage: 165.1+ KB

In [ ]:
# Thay đổi datatype của các cột tiêu chí thành numeric
df.iloc[:, 2:] = df.iloc[:, 2:].apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 22 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Country Name                                                                 960 non-null    object
 1   Year                                                                         960 non-null    object
 2   CO2 emissions (metric tons per capita)                                       960 non-null    float64
 3   Agriculture, forestry, and fishing, value added (% of GDP)                   960 non-null    float64
 4   Energy intensity level of primary energy (MJ/$2017 PPP GDP)                  960 non-null    float64
 5   Land Surface Temperature                                                     960 non-null    float64
 6   Nitrous oxide emissions (metric tons of CO2 equivalent per capita)           960 non-null    float64
 7   Methane emissions (metric tons of CO2 equivalent per capita)                 960 non-null    float64
 8   Population ages 65 and above (% of total population)                         960 non-null    float64
 9   Unemployment, total (% of total labor force) (modeled ILO estimate)          960 non-null    float64
 10  Mortality rate, under-5 (per 1,000 live births)                              960 non-null    float64
 11  Life expectancy at birth, total (years)                                      960 non-null    float64
 12  Fertility rate, total (births per woman)                                     960 non-null    float64
 13  Government expenditure on education, total (% of government expenditure)     960 non-null    float64
 14  Control of Corruption: Estimate                                              960 non-null    float64
 15  Government Effectiveness: Estimate                                           960 non-null    float64
 16  GDP growth (annual %)                                                        960 non-null    float64
 17  Regulatory Quality: Estimate                                                 960 non-null    float64
 18  Rule of Law: Estimate                                                        960 non-null    float64
 19  Voice and Accountability: Estimate                                           960 non-null    float64
 20  Political Stability and Absence of Violence/Terrorism: Estimate              960 non-null    float64
 21  School enrollment, primary and secondary (gross), gender parity index (GPI)  960 non-null    float64
dtypes: float64(20), object(2)
memory usage: 165.1+ KB

In [ ]:
# Fill những giá trị null của từng cột = giá trị trung bình của cột đó

# Chỉ fill các cột tiêu chí (trừ 2 cột đầu: Country Name và Year)
cols_to_fillna = df.columns[2:] 
df[cols_to_fillna] = df[cols_to_fillna].fillna(df[cols_to_fillna].mean()) 
df

,Country Name,Year,CO2 emissions (metric tons per capita),"Agriculture, forestry, and fishing, value added (% of GDP)",Energy intensity level of primary energy (MJ/$2017 PPP GDP),Land Surface Temperature,Nitrous oxide emissions (metric tons of CO2 equivalent per capita),Methane emissions (metric tons of CO2 equivalent per capita),Population ages 65 and above (% of total population),"Unemployment, total (% of total labor force) (modeled ILO estimate)",...,"Fertility rate, total (births per woman)","Government expenditure on education, total (% of government expenditure)",Control of Corruption: Estimate,Government Effectiveness: Estimate,GDP growth (annual %),Regulatory Quality: Estimate,Rule of Law: Estimate,Voice and Accountability: Estimate,Political Stability and Absence of Violence/Terrorism: Estimate,"School enrollment, primary and secondary (gross), gender parity index (GPI)"
0,Afghanistan,2016,0.153019,25.740314,2.240000,30.626397,0.145801,0.457036,2.398990,11.158,...,5.262,13.091000,-1.534049,-1.254182,2.260314,-1.336582,-1.512381,-1.037788,-2.671054,0.645670
1,Afghanistan,2017,0.134106,26.420199,2.300000,29.874431,0.147853,0.437949,2.399818,11.180,...,5.129,12.033200,-1.521726,-1.359922,2.647003,-1.355373,-1.577596,-0.990814,-2.801084,0.641690
2,Afghanistan,2018,0.165455,22.042897,2.440000,30.125905,0.127839,0.433671,2.407093,11.152,...,5.002,11.696060,-1.489772,-1.479299,1.189228,-1.147590,-1.681358,-1.011600,-2.763864,0.636020
3,Afghanistan,2019,0.160976,25.773971,2.410000,27.872626,0.132647,0.433419,2.417754,11.217,...,4.870,11.343770,-1.407710,-1.495627,3.911603,-1.123046,-1.727894,-1.006747,-2.655531,0.992589
4,Afghanistan,2020,4.161114,26.820600,4.845897,28.125945,0.485930,1.607469,2.416953,11.710,...,4.750,10.253860,-1.480538,-1.585145,-2.351101,-1.402761,-1.819898,-1.077736,-2.705030,0.992589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,Zimbabwe,2016,0.762487,7.873986,10.000000,33.187118,0.344572,0.821300,3.167414,4.788,...,3.771,23.527081,-1.271258,-1.209890,0.900955,-1.684896,-1.381370,-1.178460,-0.619938,0.992589
956,Zimbabwe,2017,0.700965,8.340969,9.510000,30.437847,0.350482,0.817566,3.233118,4.785,...,3.706,20.874201,-1.281081,-1.238663,4.080264,-1.564137,-1.385256,-1.195904,-0.708769,0.992589
957,Zimbabwe,2018,0.822472,7.319375,9.830000,32.686932,0.353437,0.819815,3.293359,4.796,...,3.659,19.039841,-1.227581,-1.261774,5.009867,-1.509489,-1.278995,-1.140975,-0.722774,0.992589
958,Zimbabwe,2019,0.765894,9.819262,10.470000,33.812884,0.349081,0.817344,3.345781,4.833,...,3.599,14.257946,-1.273280,-1.267288,-6.332446,-1.468613,-1.292071,-1.164705,-0.959749,0.992589
959,Zimbabwe,2020,4.161114,8.772859,4.845897,32.436873,0.485930,1.607469,3.376262,5.351,...,3.545,15.666611,-1.289440,-1.299779,-7.816951,-1.416232,-1.307897,-1.113716,-1.072147,0.992589

In [ ]:
# Kiểm tra dữ liệu đã hết null chưa
df.isnull().sum()

Country Name                                                                   0
Year                                                                           0
CO2 emissions (metric tons per capita)                                         0
Agriculture, forestry, and fishing, value added (% of GDP)                     0
Energy intensity level of primary energy (MJ/$2017 PPP GDP)                    0
Land Surface Temperature                                                       0
Nitrous oxide emissions (metric tons of CO2 equivalent per capita)             0
Methane emissions (metric tons of CO2 equivalent per capita)                   0
Population ages 65 and above (% of total population)                           0
Unemployment, total (% of total labor force) (modeled ILO estimate)            0
Mortality rate, under-5 (per 1,000 live births)                                0
Life expectancy at birth, total (years)                                        0
Fertility rate, total (births per woman)                                       0
Government expenditure on education, total (% of government expenditure)       0
Control of Corruption: Estimate                                                0
Government Effectiveness: Estimate                                             0
GDP growth (annual %)                                                          0
Regulatory Quality: Estimate                                                   0
Rule of Law: Estimate                                                          0
Voice and Accountability: Estimate                                             0
Political Stability and Absence of Violence/Terrorism: Estimate                0
School enrollment, primary and secondary (gross), gender parity index (GPI)    0
dtype: int64

In [ ]:
# Xuất file csv
df.to_csv('ESG_cleaned.csv', index=False)